@media screen and (max-width:576px) {
    header{
        width: 100%;
    }
      /* .nav-bar{
        width: 100%;
     } 
     */
     .parent{
      width: 100%;
     }
     .child{
      flex-direction: column;
     }

     .parent > :nth-child(2){
      flex-direction: column-reverse;
     }
     .text{
      padding: 20px;
     }
     main{
      width: 100%;
     }
     .project-container{
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
     }
     .two{
      width: 100%;
      flex-direction: column;
      display: block;
     text-align: center;
     
     }
     .work-btn{
      margin-bottom: 10px;

     }
     footer{
      width: 100%;
     }
     .icons{
      width: 100%;
      display: block;
      text-align: center;

     }
     .icons img{
      width: 10%;
      
      
     }
     
}